:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	margin-top: 30%;
}

.weather-input {
	height: 60px;
	width: 300px;
}

.get-weather {
	font-size: 3rem;
}

.input-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

body h1 {
	text-align: center;
}

input[type="text"] {
	font-size: 2rem;
	text-align: center;
}
